body{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.header{
    background-color: white;
    padding-bottom: 10px;
}
.header_contant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1128px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header_main{
    font-size: 11px;
}
.fle_pra a{
    text-decoration: none;
    color: #4e4e4e;
}
a:hover {
    color: #000000;
  }
.main{
    background-color: #f6f6f6;
    padding-top: 10px;
  }
  .page_main{
    margin-top: 120px;
    font-size: 22px;
    color: dimgray;
    margin-left: 150px;
  }
  .main_head{
    font-size: 38px;
    margin-left: 150px;
    margin-top: 60px;
  }
.pc_content img{
    width: 100%;
}
.container_flex{
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: space-around;
    gap: 1.23rem; 
    margin-bottom: 200px;
}
.last_content{
   border: #000000 solid 1px; 
}
.linked_1st{
    font-size: 5px;
    color: #4e4e4e;
}
.content_area{

}
.head_sec{
    border: #000000 solid 1px;
}
.main_area{
   
}
.first_ik{
border: #000000 solid 1px;
}
.pg_content{
   border: #000000 solid 1px;
}
.footer{
    background-color: #000c19;
    padding-top: 100px;
    width: 100%;
}
.ico_ig{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1128px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.lin_last a{
    color: white;
    text-decoration: none;
}
a:hover {
    color: #4e4e4e;
  }
  .hea_1{
    color: white;
    margin-left: 50px;
    font-size: 25px;
  }
  .lst_op a{
    margin-left: 50px;
    font-size: 15px;
    color: darkgrey;
    text-decoration: none;
    font-weight: 300px;
  }
  .copy_content{
    margin-top: 100px;
    color: white;
    margin-left: 50px;
    font-size: 15px;padding-bottom: 30px;
  }